h2 {
   color:grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:480px;
    margin-top:70px;
    

}
p{
    font-family:Bastion;
    color:grey;
     margin-left:15px;
     text-align:center;
}



