

h1{
  font-size: 130%;
}

* {
    box-sizing: border-box;
}

.product {
    background-color: rgba(238, 238, 238, 0.74);
    border-bottom: 1px solid #ddd;
    clear: both;
    padding: 0px 10% 70px 10%;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.col-md-3 {
    width: 50%;
    height: 100%;
    float: left;
}

/*.product-image img {
   
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 450px;
    margin-top:60px;
  
}*/


.product-info {
    padding: 0px 8%;
}

.product-info .select-dropdown {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        width: auto;
        float: left;
    }

/*.product-info select {
        cursor: pointer;
        margin-bottom: 20px;
        padding: 12px 92px 12px 15px;
        background-color: white;
        border-color:black;
        border: medium;
        border-radius: 2px;
        color: black;
        font-size: 12px;
        -webkit-appearance: none;
         -moz-appearance: none;
         
    }
    select:active, select:focus{
        outline:none;
        box-shadow:none;
    }
    .select-dropdown::after{
        content:"";
        cursor:pointer;
        position:absolute;
        top:30%;
        right:10%;
        width:0;
        height:0;
        border-left:5px solid transparent;
        border-right:5px solid transparent;
        border-top:5px solid #aaa;
    }
    .product-info a.add-btn{
        background-color:#444;
        border-radius:2px;
        color:#eee;
        display:inline-block;
        font-size:14px;
        margin-bottom:30px;
        padding:15px 100px;
        text-align:center;
        text-decoration:none;
        transition:all 400ms ease;
    }
    a.add-btn:hover{
        background-color:#555;
    }
    .product-info p{
        margin-bottom:30px;
    }
    .product-info li{
        list-style-type:none;
        margin-bottom:5px;
    }
    .product-info li:before{
        content:"\2022";
        margin-right:20px;
    }
.cart_details{
  width:101%;
  float:left;
  border-top:2px solid #444;
  border-bottom:2px solid black;
  margin-top:50px;
  position:center;
  min-height:270px;
  max-height:300px;
}

.media-object{
    width: 100px; 
    height: 100px;
}
.container1{
    margin-left:-500px;
}
.btn-danger{
    background-color:darkgray;
    color:white;
   
    margin-left:-75px;
}
h1,h2,h3,h4,h5{
    color:black;
}
th{
    color:black;
}
span{
    color:black;
}*/